@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@keyframes fadeInUp {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 30px auto;
  background-color: white;
  font-family: "Inter", sans-serif;
}
.container .btn {
  background: #3f9af7;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 12px 32px;
  cursor: pointer;
}
.container .btn:hover {
  background-color: #0858a7;
  transform: translatey(-2px);
}

.bgclr {
  background: #FFD44B;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar img {
  width: 80px;
}
nav ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
  font-size: 16px;
}
nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover {
  color: #786f80;
  border-bottom: 2px solid rgb(85, 32, 32);
  padding-bottom: 5px;
}
nav button {
  background-color: white;
  padding: 12px 32px;
  border-radius: 24px;
  border: 1px solid #3f9af7;
  color: #3f9af7;
  cursor: pointer;
}
nav button:hover {
  background-color: #3f9af7;
  color: white;
}

#first-section {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
}
#first-section .first-left {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  animation-name: fadeInUp;
  animation-duration: 1.3s;
}
#first-section .first-left .flex1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 23px;
}
#first-section .first-left .flex1 h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}
#first-section .first-left .flex1 p {
  font-size: 16px;
  font-weight: 400;
  color: #786f80;
  justify-content: flex-start;
}
#first-section .first-right {
  display: grid;
  grid-column-start: 7;
  animation-name: fadeInUp;
  animation-duration: 1.9s;
}
#first-section .first-right img {
  width: 582px;
  height: 638.1px;
}

#second-section {
  margin-top: 200px;
}
#second-section .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
#second-section .center h1 {
  font-size: 64px;
  font-weight: 500;
}
#second-section .center p {
  font-size: 16px;
  text-align: center;
}
#second-section .services {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#second-section .services .first,
#second-section .services .second,
#second-section .services .third {
  background-color: #e1f3ff;
  width: 360px;
  height: 325px;
  border-radius: 13px;
  font-size: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#second-section .services .first .services-img,
#second-section .services .second .services-img,
#second-section .services .third .services-img {
  background-color: white;
  width: 58px;
  height: 58px;
  padding: 13px;
  border-radius: 50px;
}
#second-section .services .first .services-img img,
#second-section .services .second .services-img img,
#second-section .services .third .services-img img {
  max-width: 32px;
}
#second-section .services .first h4,
#second-section .services .second h4,
#second-section .services .third h4 {
  font-size: 24px;
  margin-top: 39px;
}
#second-section .services .first p,
#second-section .services .second p,
#second-section .services .third p {
  line-height: 28px;
  margin-top: 9px;
}
#second-section .services .first a,
#second-section .services .second a,
#second-section .services .third a {
  text-decoration: none;
  margin-top: 43px;
}
#second-section .services .first:hover,
#second-section .services .second:hover,
#second-section .services .third:hover {
  box-shadow: 0 10px 10px rgb(212, 212, 212);
  transform: translateY(-15px);
}
#second-section .services .second {
  background-color: #f8eaff;
}
#second-section .services .third {
  background-color: #fff3de;
}

#third-section {
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
  align-items: center;
}
#third-section .third-left {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
}
#third-section .third-left img {
  width: 423.96px;
  height: 400.67px;
}
#third-section .third-right {
  display: grid;
  grid-column-start: 7;
}
#third-section .third-right .flex2 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: start;
}
#third-section .third-right .flex2 h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
}
#third-section .third-right .flex2 p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#fourth-section {
  margin-top: 183px;
}
#fourth-section .fourth-center h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 68px;
}
#fourth-section .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
#fourth-section .projects img {
  width: 360px;
  height: 393px;
}
#fourth-section .projects .image-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 34px;
}
#fourth-section .projects .image-content img {
  width: 37.96px;
  height: 37.96px;
}
#fourth-section .projects .image-content .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#fourth-section .projects .image-content .content h5 {
  font-size: 20px;
}
#fourth-section .projects .image-content .content p {
  font-size: 14px;
}

#fifth-section {
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
  align-items: center;
}
#fifth-section .fifth-left {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 6;
}
#fifth-section .fifth-left .flex3 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: start;
}
#fifth-section .fifth-left .flex3 h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}
#fifth-section .fifth-left .flex3 p {
  font-size: 16px;
}
#fifth-section .fifth-right {
  display: grid;
  grid-column-start: 7;
}
#fifth-section .fifth-right img {
  width: 455px;
  height: 450.74px;
  margin-left: 100px;
}

#sixth-section {
  margin-top: 164px;
}
#sixth-section .sixth-center {
  text-align: center;
}
#sixth-section .sixth-center h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
#sixth-section .sixth-center h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
}
#sixth-section .providing {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#sixth-section .providing .first-providing,
#sixth-section .providing .second-providing,
#sixth-section .providing .third-providing {
  background-color: #f4f9ff;
  height: 322px;
  width: 360px;
  border-radius: 10px;
  padding: 45px;
}
#sixth-section .providing .first-providing p,
#sixth-section .providing .second-providing p,
#sixth-section .providing .third-providing p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  justify-content: center;
  margin-bottom: 23px;
  border-bottom: 0.2px solid #000000;
}
#sixth-section .providing .first-providing .first-person,
#sixth-section .providing .first-providing .second-person,
#sixth-section .providing .first-providing .third-person,
#sixth-section .providing .second-providing .first-person,
#sixth-section .providing .second-providing .second-person,
#sixth-section .providing .second-providing .third-person,
#sixth-section .providing .third-providing .first-person,
#sixth-section .providing .third-providing .second-person,
#sixth-section .providing .third-providing .third-person {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
#sixth-section .providing .first-providing .first-person img,
#sixth-section .providing .first-providing .second-person img,
#sixth-section .providing .first-providing .third-person img,
#sixth-section .providing .second-providing .first-person img,
#sixth-section .providing .second-providing .second-person img,
#sixth-section .providing .second-providing .third-person img,
#sixth-section .providing .third-providing .first-person img,
#sixth-section .providing .third-providing .second-person img,
#sixth-section .providing .third-providing .third-person img {
  max-width: 58px;
}
#sixth-section .providing .first-providing .first-person h6,
#sixth-section .providing .first-providing .second-person h6,
#sixth-section .providing .first-providing .third-person h6,
#sixth-section .providing .second-providing .first-person h6,
#sixth-section .providing .second-providing .second-person h6,
#sixth-section .providing .second-providing .third-person h6,
#sixth-section .providing .third-providing .first-person h6,
#sixth-section .providing .third-providing .second-person h6,
#sixth-section .providing .third-providing .third-person h6 {
  font-size: 16px;
}

#seventh-section {
  border-top: 0.2px solid #786E80;
  border-bottom: 0.2px solid #786E80;
  margin-top: 187px;
  padding: 59px 0;
}
#seventh-section .seventh-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#seventh-section .seventh-all .seventh-left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
#seventh-section .seventh-all .seventh-left img {
  width: 86px;
  height: 30px;
}
#seventh-section .seventh-all .seventh-left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
#seventh-section .seventh-all .seventh-middle {
  display: flex;
  align-items: center;
  gap: 67px;
}
#seventh-section .seventh-all .seventh-middle ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#seventh-section .seventh-all .seventh-middle ul .bold {
  font-size: 16px;
  font-weight: 600;
}
#seventh-section .seventh-all .seventh-middle ul a {
  text-decoration: none;
  color: #786E80;
  font-size: 14px;
}
#seventh-section .seventh-all .seventh-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 294px;
  height: 201px;
  background-color: #dee8f3;
  border-radius: 10px;
  padding: 26px 37px 24px 29px;
}
#seventh-section .seventh-all .seventh-right h4 {
  font-size: 16px;
}
#seventh-section .seventh-all .seventh-right p {
  font-size: 14px;
}
#seventh-section .seventh-all .seventh-right input {
  background-color: white;
  border: none;
  border-radius: 39.046px;
  display: flex;
  padding: 12.7126px 29.0575px;
  margin-top: 25px;
  outline: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
footer .logos {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .logos img {
  max-width: 29.84px;
}/*# sourceMappingURL=style.css.map */