@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@keyframes fadeInUp {
  from{
    transform: translateY(300px);
  }

  to{
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 30px auto;
  background-color: white;
  font-family: "Inter", sans-serif;

  .btn {
    background: #3f9af7;
    color: white;
    border-radius: 24px;
    border: none;
    padding: 12px 32px;
    cursor: pointer;
  }

  .btn:hover{
    background-color: #0858a7;
    transform: translatey(-2px);
  }
}

.bgclr{
  background: #FFD44B;
}

nav {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 80px;
    }
  }

  ul {
    display: flex;
    gap: 45px;
    list-style-type: none;
    font-size: 16px;

    a {
      text-decoration: none;
      color: black;
    }

    a:hover{
      color: #786f80;
      border-bottom: 2px solid rgb(85, 32, 32);
      padding-bottom: 5px;
    }
  }

  button {
    background-color: white;
    padding: 12px 32px;
    border-radius: 24px;
    border: 1px solid #3f9af7;
    color: #3f9af7;
    cursor: pointer;
  }

  button:hover{
    background-color: #3f9af7;
    color: white;
  }
}

#first-section {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
  .first-left {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    animation-name: fadeInUp;
    animation-duration: 1.3s;
    .flex1{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 23px;
      h1 {
        font-size: 56px;
        font-weight: 700;
        line-height: 64px;
      }
  
      p {
        font-size: 16px;
        font-weight: 400;
        color: #786f80;
        justify-content: flex-start;
      }
    }
  }

  .first-right {
    display: grid;
    grid-column-start: 7;
    animation-name: fadeInUp;
    animation-duration: 1.9s;
    img {
      width: 582px;
      height: 638.1px;
    }
  }
}

#second-section {
  margin-top: 200px;
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    h1 {
      font-size: 64px;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      text-align: center;
    }
  }

  .services {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .first,
    .second,
    .third {
      background-color: #e1f3ff;
      width: 360px;
      height: 325px;
      border-radius: 13px;
      font-size: 16px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: transform 0.3s ease;

      .services-img {
        background-color: white;
        width: 58px;
        height: 58px;
        padding: 13px;
        border-radius: 50px;
        img {
          max-width: 32px;
        }
      }

      h4 {
        font-size: 24px;
        margin-top: 39px;
      }

      p {
        line-height: 28px;
        margin-top: 9px;
      }

      a {
        text-decoration: none;
        margin-top: 43px;
      }
    }

    .first:hover,
    .second:hover,
    .third:hover{
      box-shadow: 0 10px 10px rgb(212, 212, 212);
      transform: translateY(-15px);
    }

    .second {
      background-color: #f8eaff;
    }

    .third {
      background-color: #fff3de;
    }
  }
}


#third-section {
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
  align-items: center;
  .third-left {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 7;
    img {
      width: 423.96px;
      height: 400.67px;
    }
  }

  .third-right {
    display: grid;
    grid-column-start: 7;
    .flex2{
      display: flex;
      flex-direction: column;
      gap: 23px;
      align-items: start;
      h1 {
        font-size: 56px;
        font-weight: 700;
        line-height: 68px;
      }
  
      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}

#fourth-section {
  margin-top: 183px;
  .fourth-center {
      h1 {
        font-size: 50px;
        font-weight: 500;
        line-height: 68px;
      }
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    img {
      width: 360px;
      height: 393px;
    }

    .image-content{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 34px;

      img{
        width: 37.96px;
        height: 37.96px;
      }

      .content{
        display: flex;
        flex-direction: column;
        gap: 4px;
        h5{
          font-size: 20px;
        }

        p{
          font-size: 14px;
        }
      }
    }
  }
}

#fifth-section {
  display: grid;
  grid-template-columns: repeat(autoft, 12, 75px);
  gap: 20px;
  height: 100vh;
  align-items: center;

  .fifth-left {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;

    .flex3{
      display: flex;
      flex-direction: column;
      gap: 23px;
      align-items: start;
      h1 {
        font-size: 56px;
        line-height: 68px;
        font-weight: 700;
      }
  
      p {
        font-size: 16px;
      }
    }
  }

  .fifth-right {
    display: grid;
    grid-column-start: 7;
    img {
      width: 455px;
      height: 450.74px;
      margin-left: 100px;
    }
  }
}

#sixth-section {
  margin-top: 164px;
  .sixth-center {
    text-align: center;
    h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 48px;
    }

    h1 {
      font-size: 56px;
      font-weight: 500;
      line-height: 64px;
    }
  }

  .providing {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .first-providing,
    .second-providing,
    .third-providing {
      background-color: #f4f9ff;
      height: 322px;
      width: 360px;
      border-radius: 10px;
      padding: 45px;

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        justify-content: center;
        margin-bottom: 23px;
        border-bottom: 0.2px solid #000000;
      }

      .first-person,
      .second-person,
      .third-person {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 16px;

        img {
          max-width: 58px;
        }

        h6 {
          font-size: 16px;
        }
      }
    }
  }
}

#seventh-section{
  border-top: 0.2px solid #786E80;
  border-bottom: 0.2px solid #786E80;
  margin-top: 187px;
  padding: 59px 0;

  .seventh-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .seventh-left{
      display: flex;
      flex-direction: column;
      gap: 17px;
  
      img{
        width: 86px;
        height: 30px;
      }
  
      p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .seventh-middle{
      display: flex;
      align-items: center;
      gap: 67px;
      
      ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .bold{
          font-size: 16px;
          font-weight: 600;
        }

        a{
          text-decoration: none;
          color: #786E80;
          font-size: 14px;
        }
      }
    }
  
    .seventh-right{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 294px;
      height: 201px;
      background-color: #dee8f3;
      border-radius: 10px;
      padding: 26px 37px 24px 29px;
  
      h4{
        font-size: 16px;
        
      }
  
      p{
        font-size: 14px;
      }
  
      input{
        background-color: white;
        border: none;
        border-radius: 39.046px;
        display: flex;
        padding: 12.7126px 29.0575px;
        margin-top: 25px;
        outline: none;
      }
    }
  }
  
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .logos{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      max-width: 29.84px;
    }
  }
}