@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 20px auto;
  background-color: white;
  font-family: "Inter", sans-serif;
}

nav {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 80px;
    }
  }

  ul {
    display: flex;
    gap: 45px;
    list-style-type: none;
    font-size: 16px;

    a {
      text-decoration: none;
    }
  }

  button {
    background-color: white;
    padding: 12px 32px;
    border-radius: 16px;
    border: 1px solid #3f9af7;
    color: #3f9af7;
    cursor: pointer;
  }
}

#first-section {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 50px;
  .first-left {
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    gap: 23px;

    h1 {
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #786f80;
      justify-content: center;
      padding-right: 80px;
    }

    button {
      background: #3f9af7;
      color: white;
      border-radius: 16px;
      border: none;
      width: 152px;
      height: 48px;
    }
  }

  .first-right {
    img {
      width: 582px;
      height: 638.1px;
    }
  }
}

#second-section {
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    h1 {
      font-size: 64px;
      font-weight: 500;
    }

    p {
      font-size: 16px;
    }
  }

  .services {
    .first {
      background-color: #e1f3ff;
      width: 360px;
      height: 325px;
      border-radius: 13px;
      font-size: 16px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 23px;

      .services-img {
        background-color: white;
        width: 58px;
        height: 58px;
        padding: 13px;
        border-radius: 50px;
        img {
          max-width: 32px;
        }
      }

      h4 {
        font-size: 24px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
