@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  margin: 20px auto;
  background-color: white;
  font-family: "Inter", sans-serif;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar img {
  width: 80px;
}
nav ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
  font-size: 16px;
}
nav ul a {
  text-decoration: none;
}
nav button {
  background-color: white;
  padding: 12px 32px;
  border-radius: 24px;
  border: 1px solid #3f9af7;
  color: #3f9af7;
  cursor: pointer;
}

#first-section {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 50px;
}
#first-section .first-left {
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
#first-section .first-left h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}
#first-section .first-left p {
  font-size: 16px;
  font-weight: 400;
  color: #786f80;
  justify-content: center;
  padding-right: 80px;
}
#first-section .first-left button {
  background: #3f9af7;
  color: white;
  border-radius: 24px;
  border: none;
  width: 152px;
  height: 48px;
}
#first-section .first-right img {
  width: 582px;
  height: 638.1px;
}

#second-section {
  padding-top: 200px;
}
#second-section .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
#second-section .center h1 {
  font-size: 64px;
  font-weight: 500;
}
#second-section .center p {
  font-size: 16px;
  text-align: center;
}
#second-section .services {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
#second-section .services .first,
#second-section .services .second,
#second-section .services .third {
  background-color: #e1f3ff;
  width: 360px;
  height: 325px;
  border-radius: 13px;
  font-size: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
#second-section .services .first .services-img,
#second-section .services .second .services-img,
#second-section .services .third .services-img {
  background-color: white;
  width: 58px;
  height: 58px;
  padding: 13px;
  border-radius: 50px;
}
#second-section .services .first .services-img img,
#second-section .services .second .services-img img,
#second-section .services .third .services-img img {
  max-width: 32px;
}
#second-section .services .first h4,
#second-section .services .second h4,
#second-section .services .third h4 {
  font-size: 24px;
  padding-top: 39px;
}
#second-section .services .first p,
#second-section .services .second p,
#second-section .services .third p {
  line-height: 28px;
  padding-top: 9px;
}
#second-section .services .first a,
#second-section .services .second a,
#second-section .services .third a {
  text-decoration: none;
  padding-top: 43px;
}
#second-section .services .second {
  background-color: #f8eaff;
}
#second-section .services .third {
  background-color: #fff3de;
}

#third-section {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-top: 164px;
}
#third-section .third-left img {
  width: 423.96px;
  height: 400.67px;
}
#third-section .third-right {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  gap: 23px;
}
#third-section .third-right h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
}
#third-section .third-right p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
#third-section .third-right button {
  background: #3f9af7;
  color: white;
  border-radius: 24px;
  border: none;
  width: 152px;
  height: 48px;
  cursor: pointer;
}

#fourth-section {
  padding-top: 183px;
}
#fourth-section .fourth-center h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 68px;
  text-align: center;
}
#fourth-section .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 120px;
}
#fourth-section .projects img {
  width: 360px;
  height: 393px;
}/*# sourceMappingURL=style.css.map */